@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Pokemon";
  src: local("PKMN RBYGSC"), url("/PKMN\ RBYGSC.ttf") format("truetype");
}

body {
  font-family: "Pokemon";
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.pagination li {
  padding: 0.2rem;
}

.pagination a {
  text-decoration: none;
  color: white;
  padding: 0.5rem;
  border: 1px solid #bbb;
  border-radius: 0.5rem;
}

.pagination a:hover {
  color: gray;
  background-color: #faf0e6;
  border-color: #faf0e6;
  cursor: pointer;
}

.pagination .active a {
  color: gray;
  background-color: #d9b99b;
  border-color: #d9b99b;
}

.shake {
  animation: shake 0.5s;
}

@keyframes shake {
  0% {
    transform: translate(0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate(-10px, 0);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translate(10px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
